<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span><a style="color: #fff" routerLink="">Vinora</a></span>
      <span class="example-spacer"></span>
      <button mat-flat-button routerLink="login" color="primary">Login</button>
      
          <button mat-button [matMenuTriggerFor]="belowMenu">Register</button>
          <mat-menu #belowMenu="matMenu" yPosition="below">
            <button mat-menu-item routerLink="registerCompany">Company</button>
            <button mat-menu-item routerLink="register">Retailer</button>
          </mat-menu>
      <!-- <button mat-flat-button routerLink="register"  color="primary">Register</button> -->
      <!-- <button mat-flat-button routerLink="registerCompany"  color="primary">Register Company</button> -->
      
    </mat-toolbar-row>
  </mat-toolbar>
