
  <div *ngIf="comapany$ | async; let companise; else loading">
    <ul>
      <li *ngFor="let company of companise">
        <b>{{company.companyName}}</b> <br>
        <b> {{ company.email }} </b> <br>
        <b> {{ company.address }} </b> <br>
        <b> {{ registerWithCompany }} </b> <br>
        <code>{{ company.key }}</code>
        <button style="margin: 0 auto;display: block;" mat-stroked-button>New Order</button>
      </li>
    </ul>

    <hr>
    <div *ngIf="!companise">No results, try clearing filters</div>
  </div>
  <ng-template #loading>Loading&hellip;</ng-template>
  <div>