
   
        <div class="col-8" style="padding-left: 10%;">

                <form class="example-form" [formGroup]="registerForm" >
                    
                    <mat-form-field class="example-full-width">
                        <input 
                            matInput 
                            placeholder="Full Name" 
                            formControlName="fullName"
                            >

                            <mat-error *ngIf="!registerForm.get('fullName').valid && registerForm.get('fullName').touched">
                                    Please enter a name here!
                            </mat-error>

                    </mat-form-field>
                    
                    <mat-form-field class="example-full-width">
                        <textarea 
                            formControlName="address"  
                            matInput 
                            placeholder="Address">
                        </textarea>

                        <mat-error *ngIf="!registerForm.get('address').valid && registerForm.get('address').touched">
                                Please enter your address here
                        </mat-error>

                    </mat-form-field>
                    
                    <mat-form-field class="example-full-width">
                        <input 
                            formControlName="nic" 
                            matInput 
                            placeholder="NIC" 
                            >

                            <mat-error *ngIf="!registerForm.get('nic').valid && registerForm.get('nic').touched">
                                    Please enter a valid NIC number!
                            </mat-error>
                    </mat-form-field>
                    
                    <mat-form-field class="example-full-width">
                        <input 
                            matInput 
                            placeholder="Email" 
                            formControlName="email" 
                            >
                            <mat-error *ngIf="!registerForm.get('email').valid && registerForm.get('email').touched">
                                    Please enter a valid email address
                            </mat-error>
                    </mat-form-field>
                    
                   
                    <mat-form-field class="example-full-width">
                        <span matPrefix>+94 &nbsp;</span>
                        <input 
                            type="tel"
                            formControlName="contactNumber"
                            matInput 
                            placeholder="Mobile Number">

                        <mat-icon matSuffix>mode_edit</mat-icon>
                        
                        <mat-error *ngIf="!registerForm.get('contactNumber').valid && registerForm.get('contactNumber').touched">
                                    Please enter a valid contact number here!
                        </mat-error>
                    </mat-form-field>

                    <p style="text-align: center; color: red;"> {{message}}</p><br>
                    
                </form>
                    <div class="row">
                        
                        <div class="col">
                            <button  mat-raised-button (click)="onReset()">Reset</button> 
                        </div>
                        
                        <div class="col">
                            <button mat-raised-button color="primary" [disabled]="!valid" (click)="register()">Register</button>
                        </div>
                        
                    </div>
            
        </div>
        <div class="col-4">

                <div class="row" *ngIf="stockManagers | async; let stockManagers; else loading">
                    <app-display-stock-manager *ngFor="let stockManager of stockManagers" [stockManager]="stockManager"></app-display-stock-manager>
                    <div *ngIf="stockManagers.length === 0">No stock managers registered</div>
                </div>
                <ng-template #loading>Loading&hellip;</ng-template>
        
        </div>
   

