
<mat-card class="example-card" >
            <mat-card-header>
                <mat-card-title>{{item.itemName}}</mat-card-title>
                <mat-card-subtitle>{{item.brand}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{item.itemImagePath}}" alt="Photo of the Vehicle">
            <mat-card-content>
                    
                <p>
                    {{item.description}}<br>
                    Unit Price: <b>{{item.unitPrice}} : Rs</b><br>
                    Available:  <b></b>{{item.quantity}}<br>                
                </p>
    
            </mat-card-content>

            <mat-card-actions>  
                
                    <form (ngSubmit)="OnUpdateUnitPrice(f)" #f="ngForm">
                            <table class="" style="width: 159px" cellspacing="0">    
                                <tr>
                                    <td>
                                            <mat-form-field class="" style="width: 70%">
                                                <input matInput type="number" placeholder="Unit Price" name="unitPrice" ngModel >
                                            </mat-form-field>
                                            <span>
                                                <button mat-raised-button color="primary" type="submit" (click)="OnUpdateUnitPrice()" >Update</button>
                                                <button mat-raised-button color="primary" type="reset">Reset</button>
                                            </span>
                                    </td>
                                </tr>    
                            </table>
                            <br>
                            <button mat-raised-button color="warn" (click)="onRemove()" >Remove</button>
                    </form>
            </mat-card-actions>
</mat-card>
    
     
