.itemcard{
    margin-top: 5px;
    width: 200px;
    height: 450px;
}

.forimage{
    width: 190px;
    margin-left: -10px;
    height: 150px;
    background-color: blueviolet;
}

i.icon-red{
    color: crimson;
}

