
    <div class="col" style="margin-left: 10%; margin-right: 5%;">
            
        <form class="example-form" (ngSubmit)="onAddItem(f)" #f="ngForm">

                <mat-form-field class="example-full-width">
                        <input matInput placeholder="Item Name" name="itemName" ngModel >
                </mat-form-field>

                <!-- for the item image -->
                <label>
                        <input type="file" (change)="selectItemImage($event)">
                </label>
                
                <mat-form-field class="example-full-width">
                        <input matInput placeholder="Brand" name="brandName" ngModel >
                </mat-form-field>


                <mat-form-field>
                        <mat-label>Type</mat-label>
                        <mat-select [(value)]="selected" name="type" ngModel >
                          <mat-option value="Kg">Kg </mat-option>
                          <mat-option value="g">g (grams)</mat-option>
                          <mat-option value="L">L (Liters)</mat-option>
                        </mat-select>
                      </mat-form-field>
                <p>You selected: {{selected}}</p>

                
                <mat-form-field class="example-full-width">
                        <input matInput placeholder="Unit Price"  type="number" min="0"  name="unitPrice" ngModel >
                </mat-form-field>

                <mat-form-field class="example-full-width">
                        <input matInput placeholder="Reordering level"  type="number" min="0"  name="reOrderingLevel" ngModel >
                </mat-form-field>

                <mat-form-field class="example-full-width">
                        <input matInput placeholder="Description" name="description" ngModel >
                </mat-form-field>

                
   
                <!-- <input  placeholder="Description"  type="hidden"  name="quantity" ngModel  value=0> -->
                <input  placeholder="Description"  type="hidden"  name="state" ngModel  value="new">

                <button class="btn btn-success">Register</button>
                
        </form> 
    </div>

