<div class="row">
    <div class="col" *ngFor="let company of company | async" >
            <div class="col">
                    <img src="{{company.imagePath}}" width="150px" height="150px"> <br>                  
                    <b>email: </b>{{company.email}}<br>
                    <b>Contact: </b>{{company.address}}<br>
                </div>
    </div>
</div>
<div class="row">
    <div class="col col-10">
        <div class="row">
            <app-order-item-element class="col col-3" *ngFor="let item of items | async" [item]="item"></app-order-item-element>
        </div>
    </div>
    <div class="col col-2">
        <app-order-summery></app-order-summery>
    </div>
</div>
