<app-admin-nav></app-admin-nav>
<mat-sidenav-container>
  <mat-sidenav #sidenav   mode="side" [(opened)]="opened">
   <div class="container">
     <div class="row">
       <div class="col">
             <div class="btn-group-vertical example-button-row " >                    
                 <div class="list-group" id="list-tab" role="tablist">
                     <a class="list-group-item list-group-item-action transparent" id="list-home-list" routerLink="companyRequests">Requests</a>
                     <a class="list-group-item list-group-item-action transparent" id="list-home-list" routerLink="currentStocks">Delivery Companies</a>      
                     <a class="list-group-item list-group-item-action transparent" id="list-home-list" routerLink="reports">Reports</a>      
                   </div>
             </div>  
        </div>
     </div>
   </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <button class="btn btn-light" (click)="sidenav.toggle()"><i class="material-icons">
       list
       </i></button>
   <div class="container">
     <div class="row">
       <div class="col-10">
         <router-outlet>
        </router-outlet>
      </div>
     </div>
   </div>     
  </mat-sidenav-content>


</mat-sidenav-container>

<app-fotter></app-fotter>
