.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 100%;
    background-color: rgb(54, 158, 122);
    opacity: 0.3;
  }
  
  .example-right-align {
    text-align: right;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  .example-container {
    display: flex;
    flex-direction: column;
  }
  
  .example-container > * {
    width: 60%;
  }
  
  .example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.container-fluid{
  height:60em;
  background-size:cover;
  width:auto;
  /* background-color: #00010; */
  /* opacity: 0.5; */
  background-image:url('../../../assets/images/nik-macmillan-YXemfQiPR_E-unsplash.jpg');
  background-position:50% 50%;
  text-align: center;
  color:  rgb(0, 0, 0);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.loginbox{
  width: 320px;
  height: 420px;
  background: #000;
  color: #fff;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;

}
