<div class="container-fluid">
    <div class="row">
        <div class="col">
            
                <form class="example-form" (ngSubmit)="signUp(f)" #f="ngForm">

                    <div class="col form-group-lg" style="padding-top:5%; padding-left: 25%;"> 
                            
                            <div class="example-container">
                                <h2 style="text-align: center;padding-top: 1%;font-family: 'Patua One', cursive;height: 100px;">Login With Us</h2>
                                <mat-form-field class="example-full-width" appearance="outline">
                                  <mat-label>Your Email</mat-label>  
                                  <input matInput required value=""  name="email" ngModel required>
                                    <mat-icon matSuffix>email</mat-icon>
                                    <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                                </mat-form-field>
                                
                                
                            <mat-form-field class="example-full-width" appearance="outline" >
                              <mat-label>Password</mat-label>   
                              <input matInput placeholder="Enter your password" required [type]="hide ? 'password' : 'text'" name="password" ngModel>
                                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                            </mat-form-field>
                                
                                <div class="row">
                                    <div class="col">
                                     
                                    </div>
                                    <div class="col">
                                       
                                      <mat-spinner style="margin: 0 auto;display: block;" *ngIf="showSpinner"></mat-spinner>
                                      <button style="margin: 0 auto;display: block;" mat-stroked-button (click)="signUp()">Login</button>
                                    </div>
                                    <div class="col"></div>
                                  </div>

                                  <div class="row">
                                    <div class="col col-12">
                                        <p style="color: brown; align-content: center;">{{message}}</p>
                                    </div>
                                  </div>
                    </div>
                </div>
            </form>
            <div class="container">
                
            <div class="row">
                <div class="col-3" ></div>
                <div class="col-6">
                    <button style="float: right;" mat-button (click)="openDialog()">Forgot Password ?</button>
                </div>
                <div class="col-3"></div>
              </div>
            </div>
            

            <!-- <div *ngIf="items$ | async; let items; else loading">
              <ul>
                <li *ngFor="let item of items">
                  {{ item.payload.val().type }}
                  <code>{{ item.payload.key }}</code>
                </li>
              </ul>
              <div *ngIf="items.length === 0">No results, try clearing filters</div>
            </div> -->

        </div>
    </div>
</div>
       

<!-- <div class="container">
    <div *ngIf="afAuth.user | async as user; else showLogin">
        <h1>Hello {{ user.displayName }}!</h1>
                <button (click)="logout()">Logout</button>
            </div>
            <ng-template #showLogin>
                <p>Please login.</p>
                <button (click)="login()">Login with Google</button>
              </ng-template>
              
</div>
        -->
<!-- 
        <div class="container">
            <div class="row">
                    <div class="container pt-3">
                            <div class="row justify-content-sm-center">
                              <div class="col-sm-10 col-md-6">
                                <div class="card border-info">
                                  <div class="card-header">Login</div>
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-md-4 text-center">
                                        <img src="https://placeimg.com/128/128/nature">
                                      </div>
                                      <div class="col-md-8">
                                        <form (ngSubmit)="signUp(f)" #f="ngForm" >
                                          <input type="text" class="form-control mb-2" placeholder="Email"  name="email" ngModel required autofocus>
                                          <input type="password" class="form-control mb-2" placeholder="Password"  name="password" ngModel required>
                                          <button class="btn btn-lg btn-primary btn-block mb-1"  (click)="signUp()" >Login</button>
                                        </form>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
            </div>
        </div> -->