<mat-card class="example-card">
    <mat-card-header>
        <mat-card-title>{{company.companyName}}</mat-card-title>
        <mat-card-subtitle>{{ company.email }} </mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="{{item.itemImagePath}}" alt="Photo of the Vehicle"> -->
    <mat-card-content>    
        <p>
            Address  : <b>{{company.address}}</b><br>
            Available: <b>{{company.id}}</b><br>                
        </p>
    </mat-card-content>

    <mat-card-actions>   
                <button mat-raised-button color="primary" type="submit" (click)="OrderNow(company)">Order Now</button>
                <button mat-raised-button color="warn" type="submit" (click)="onHold()">Hold</button>
    </mat-card-actions>
    
</mat-card>
