<div class="row">
    <div class="card mb-3" style="max-width: 540px;"  *ngFor="let retailer of retailer | async">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="..." class="card-img" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{retailer.shopName}}</h5>
              <p class="card-text">
                  <p> 
                      <b>State: </b>{{retailer.state}}<br>
                      <b>email: </b>{{retailer.email}}<br>
                      <b>Address: </b>{{retailer.address}}<br>
                      <b>Contact: </b>{{retailer.contactNumber}}<br>
                      <b>Key: </b>{{retailer.key}}<br>
                      <!-- <b>Companies</b>{{retailer.registered_Companies.current_Orders.Or}} -->
                  </p>
            </div>
          </div>
        </div>
      </div>
      hjbcjmshdbvh udula
</div>