<div class="row">
    <h4>Date Range</h4>
</div>

<div class="row">
        <p>
            <mat-form-field>
              <mat-label>Input disabled</mat-label>
              <input matInput [matDatepicker]="dp3" [(ngModel)]="fromDate" disabled>
              <mat-datepicker-toggle matSuffix [for]="dp3"></mat-datepicker-toggle>
              <mat-datepicker #dp3 disabled="false"></mat-datepicker>
            </mat-form-field>
          </p>

    <button mat-button color="primary" (click)="onSearch()">Search</button>
     
     
</div>
