        <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{item.itemName}}</mat-card-title>
                <mat-card-subtitle>{{item.brand}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="forimage" src="{{item.itemImagePath}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                    <!-- {{item.description}}<br> -->
                    Unit Price: <b>{{item.unitPrice}}</b><br>
                    Available:  <b></b>{{item.quantity}}<br>                
                </p>
                
            </mat-card-content>
            <mat-card-actions>
                <form [formGroup]="updateForm">
                        <table class="" style="width: 159px" cellspacing="0">
                            <tr>
                                <td>
                                    <mat-form-field class="" style="width: 70%">
                                            <input 
                                                matInput 
                                                type="number" 
                                                placeholder="Quantity"
                                                formControlName="quantity"
                                                value="{{ (itemsQuantity | async)?.weight }}">
                                    </mat-form-field>

                                    <div class="input-group-append">
                                        <span class="input-group-text">{{item.type}}</span>
                                    </div>
                                </td>
                            </tr>

                            <!-- <tr>
                                    <td><mat-form-field class="" style="width: 70%">
                                            <input matInput type="number" placeholder="Unit Price" name="unitPrice" ngModel  >
                                    </mat-form-field></td>
                            </tr> -->
                           

                        </table>


                        <div class="btn-group" role="group" aria-label="Basic example">
                            <button class="btn"  
                                    data-toggle="tooltip"
                                    title="Reset"
                                    (click)="reset()"> 
                                    
                                    <i class="material-icons">
                                            replay
                                    </i>
                            </button>

                            <button class="btn"  
                                    data-toggle="tooltip"
                                    title="Update unit price"
                                    (click)="updateQuantity()" > 
                                    <i class="material-icons">
                                            cached
                                    </i>
                            </button>

                            <!-- <button class="btn"  
                                    data-toggle="tooltip"
                                    title="Remove Item"
                                    (click)="onRemove()"
                                    [disabled]="allowRemove"> 
                                    <i class="material-icons icon-red">
                                            remove_circle_outline
                                    </i>
                            </button> -->

                            <button class="btn"  
                                    data-toggle="tooltip"
                                    title="More details" 
                                    (click)="itemDetails(item)"> 
                                    <i class="material-icons">
                                            list_alt               
                                    </i>  
                            </button>                                                       
                        </div>

                        <!-- <button mat-raised-button color="primary" type="reset">Reset</button>
                        <button mat-raised-button color="primary" type="submit">Add</button> -->
                </form>
            </mat-card-actions>
        </mat-card>