<div class="container">
  <div class="row">
  <div class="col-2"></div>
  <div class="col-8">
      <h3 style="text-align: center;padding-top: 1%;font-family: 'Patua One', cursive;height: 100px;">Register your Company</h3>
      <mat-horizontal-stepper linear #stepper>
          <mat-step [stepControl]="firstFormGroup">

            <!-- first form group -->
            <form [formGroup]="firstFormGroup" #f="ngForm">
              <ng-template matStepLabel>Fill out Company Details</ng-template>
              <mat-form-field class="example-full-width">
                            <input matInput type="text" placeholder="Your Company" formControlName="companyName" required name="shopName" >
                          </mat-form-field>
                          <mat-form-field class="example-full-width">
                              <textarea formControlName="address" matInput placeholder="Your Address"  name="address"  required></textarea>
                            </mat-form-field>

                            
                                <agm-map [latitude]="latitude" [longitude]="longitude" (mapClick)="onChoseLocation($event)">
                                  <agm-marker 
                                  [latitude]="latitude" 
                                  [longitude]="longitude" 
                                  *ngIf="locationChosen"></agm-marker>
                                </agm-map>
                         

                          
                          <mat-form-field class="example-full-width">
                              <input formControlName="password"   matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'"  value="" name="password" >
                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                              
                              <mat-error *ngIf="firstFormGroup.get('password').touched">
                                Please enter a valid Password
                             </mat-error>

                             <mat-error  *ngIf="firstFormGroup.controls['password'].hasError('hasNumber')">
                                 Must have at least 1 number!
                             </mat-error>

                             <mat-error  *ngIf="firstFormGroup.controls['password'].hasError('hasCapitalCase')">
                                 Must contain at least 1 in Capital Case!
                             </mat-error>

                             <mat-error  *ngIf="firstFormGroup.controls['password'].hasError('hasSmallCase')">
                                 Must contain at least 1 Letter in Small Case!
                             </mat-error>

                             <!-- <mat-error  *ngIf="firstFormGroup.controls['password'].hasError('hasSpecialCharacters')">
                                 Must contain at least 1 Special Character (!@#$...)!
                             </mat-error> -->

                             <mat-error  *ngIf="firstFormGroup.controls['password'].hasError('minlength')">
                                 Must be at least 6 characters!
                             </mat-error>

                             
                          </mat-form-field>

                          <mat-form-field class="example-full-width">
                              <input formControlName="confirmPassword" appEqualValidator="password" matInput placeholder="Confirm password" [type]="hide ? 'password' : 'text'"  value="" name="confirmPassword" >
                              <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                              </button>
                             
                          </mat-form-field>
  
              <div>
                <button mat-button  matStepperNext [disabled]="!f.valid">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">

            <!-- second form group -->
            <form [formGroup]="secondFormGroup" #g="ngForm">
              <ng-template matStepLabel>Fill out Company Manager Details</ng-template>
              <mat-form-field class="example-full-width">
                  <input matInput type="text" placeholder="Manager" formControlName="managerName" name="shopName" >
                </mat-form-field>
                <mat-form-field class="example-full-width">
                    <input matInput type="text" minlength="10" maxlength="12" placeholder="NIC" formControlName="managerNic" name="managerNic" >
                  </mat-form-field>
              <mat-form-field class="example-full-width">
                  <input formControlName="email" matInput type="email" placeholder="Enter your email"  name="email"  >
                  <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
          </mat-form-field>
          
          
            <mat-form-field class="example-full-width">
                <span matPrefix>+94 &nbsp;</span>
                <input formControlName="tel" minlength="9" maxlength="9" type="tel" matInput placeholder="Telephone"  name="contactNumber" >
                <mat-icon matSuffix>call</mat-icon>
            </mat-form-field>
              
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button matStepperNext [disabled]="!g.valid">Next</button>
              </div>
            </form>
          </mat-step>
          <mat-step>
            <ng-template matStepLabel>Register</ng-template>
            You are now done.
            <div>
              <button mat-button matStepperPrevious>Back</button>
              <button mat-button (click)="stepper.reset()">Reset</button>
              <button mat-button (click)="register()">Register</button>
              <br>
              <p style="text-align: center; color: red;"> {{message}}</p><br>
            </div>
          </mat-step>
        </mat-horizontal-stepper>
  </div>
  <div class="col-2"></div>
    
</div>  
    </div>
    
    