
<div class="row">

<div class="col-8">


    <mat-card class="example-card" *ngFor="let stockManager of stockManager | async">
        <div class="row no-gutters">
          <div class="col-md-4">
              <img mat-card-image src="{{stockManager.imagePath}}" alt="Photo of the Retailer">
             
              <!-- <label>
                <input type="file" (change)="selectFile($event)">
              </label> -->
              <!-- <button  onclick="onAddImage()">Upload Image</button> -->
              <form class="example-form" (ngSubmit)="onAddImage(stockManager)" #f="ngForm">

           
                <label>
                        <input type="file" (change)="selectFile($event)">
                        <!-- <input type="file" (change)="uploadFile($event)"> -->
                </label>

                <!-- <button type="submit" class="btn btn-success">Upload Image</button> -->
                <button mat-raised-button type="submit">Upload Image</button>
                
        </form> 
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{stockManager.fullName}}</h5>
              <p class="card-text">
                  
                      <!-- <b>State: </b>{{stockManager.state}}<br> -->
                      <b>email: </b>{{stockManager.email}}<br>
                      <b>Address: </b>{{stockManager.address}}<br>
                      <b>Contact: </b>{{stockManager.contactNumber}}  
                    
                      <br>
                    
                      
                  </p>

                  <!-- <form class="example-form" (ngSubmit)="onEditContact(f)" #f="ngForm">

                          
                      <input matInput placeholder="Edit Contact number" [formControl]="contactNumber"ngModel>
                  
               
  
                  <button type="submit" class="btn btn-success">Save</button>
  
                  
          </form>  -->
          <form (ngSubmit)="updateContactnumber(f,stockManager)" #f="ngForm">
             
                          <mat-form-field class="" style="width: 70%">
                                  <input matInput type="string" placeholder="Edit contact number" name="contactNumber" ngModel>
                          </mat-form-field>    
             
              <button mat-raised-button color="primary" type="submit">Save</button>
      </form>
          
            </div>
          </div>
        </div>
      </mat-card>
</div>




      <div class="col-12">
        <h5 class="h5">Reset my password</h5>
        <form class="example-form" [formGroup]="resetPasswordForm">
          <mat-form-field class="example-full-width">
                     <input formControlName="password" name="password"  appEqualValidator="confirmPassword" minlength="6" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" value="" > 
                     <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                     <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                     </button>

                      <mat-error *ngIf="resetPasswordForm.get('password').touched">
                         Please enter a valid Password
                      </mat-error>

                      <mat-error  *ngIf="resetPasswordForm.controls['password'].hasError('hasNumber')">
                          Must have at least 1 number!
                      </mat-error>

                      <mat-error  *ngIf="resetPasswordForm.controls['password'].hasError('hasCapitalCase')">
                          Must contain at least 1 in Capital Case!
                      </mat-error>

                      <mat-error  *ngIf="resetPasswordForm.controls['password'].hasError('hasSmallCase')">
                          Must contain at least 1 Letter in Small Case!
                      </mat-error>

                      <!-- <mat-error  *ngIf="resetPasswordForm.controls['password'].hasError('hasSpecialCharacters')">
                          Must contain at least 1 Special Character (!@#$...)!
                      </mat-error> -->

                      <mat-error  *ngIf="resetPasswordForm.controls['password'].hasError('minlength')">
                          Must be at least 6 characters!
                      </mat-error>

                     

                 </mat-form-field>

                 

                 <br>

                 <mat-form-field class="example-full-width">
                     <input formControlName="confirmPassword" name="confirmPassword" appEqualValidator="password"  matInput placeholder="Confirm password" [type]="hide ? 'password' : 'text'" > 
                     <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                     <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                     </button>
                     <span *ngIf="confirmPassword?.errors?.notEqual">Password and Confirm Password doesn't match</span>
                 </mat-form-field>

                
                     <button mat-raised-button color="primary" [disabled]="!valid" (click)="onResetPassword()">Reset Password</button>
       </form>
 </div>

</div>