<ul class="list-group">
    <a routerLink="companyRequests">
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Company Requests
          <span class="badge badge-primary badge-pill">{{requstCount}}</span>
        </li>
    </a>
    <a routerLink="registeredCompanies">
        <li class="list-group-item d-flex justify-content-between align-items-center">
            Registered Companies
            <span class="badge badge-primary badge-pill">{{registeredCount}}</span>
        </li>
    </a>
  </ul>
