<div class="row" *ngIf="companies | async; let companies; else loadingReg">
        <app-admin-com-reg-elemet class="col col-3" *ngFor="let company of companies" [company]="company"></app-admin-com-reg-elemet>
        
        <div *ngIf="companies.length===0">
                <div class="alert alert-primary" role="alert">
                        No Registered Companies&hellip;
                </div>
        </div>  

        <button mat-raised-button (click)="Report()">Basic</button>
</div>


<div class="row" id="content" #content style="height: auto;">
        <caption>Registered Companies on Vinora</caption>
        <!-- <p> Date: {{date}}</p> -->
        <table *ngIf="companies | async;  let companies2" >
                <tr>

                        <td>
                                Company Name
                        </td>
                        <td>
                                Email
                        </td>
                        <td>
                                Address
                        </td>
                        <td>
                                Contact number
                        </td>
                </tr>
                <tr *ngFor="let company of companies2">
                        <td>
                                {{company.companyName}}  
                        </td>
                        <td>
                                {{company.email}}
                        </td>
                        <td>
                                {{company.address}}    
                        </td>
                        <td>
                                {{company.contactNumber}}
                        </td>
                </tr>
        </table>

        <button mat-raised-button (click)=downloadPdf()>Download PDF</button>

</div>
   
    <ng-template #loadingReg>
           <div class="alert alert-primary" role="alert">
                   No Registered Companies&hellip;
           </div>             
   
   </ng-template>

