<div class="container">
    <div class="row" >
        <div class="col-2"></div>  
        <div 
          class="col-8" 
          
          *ngIf=" !loggined ; else loginSuccess"
          >
          <h3 style="text-align: center;padding-top: 1%;font-family: 'Patua One', cursive;height: 100px;">Register with us</h3>
          <mat-horizontal-stepper linear #stepper>
              <mat-step [stepControl]="firstFormGroup">
                <form [formGroup]="firstFormGroup">
                  <ng-template matStepLabel>Fill out Company Name</ng-template>
                              <mat-form-field class="example-full-width">
                                <input matInput type="text" placeholder="Shop Name" formControlName="myControl1" required name="shopName" ngModel>
                              </mat-form-field>

                              
                              <label>
                                  <input type="file" (change)="selectFile($event)">
                              </label>


                              <mat-form-field class="example-full-width">
                                  <input formControlName="myControl2" minlength="6" matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
                                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                  </button>
                              </mat-form-field>
                  <div>
                    <button mat-button  matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step [stepControl]="secondFormGroup" [optional]="isOptional">
                <form [formGroup]="secondFormGroup">
                  <ng-template matStepLabel>Fill out company contact Details</ng-template>
                  <mat-form-field class="example-full-width">
                      <input  formControlName="myControl3" matInput type="email" placeholder="Enter your email"  name="email" ngModel required>
                      <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error>
                      
              </mat-form-field>
              <mat-form-field class="example-full-width">
                  <textarea formControlName="myControl4" matInput placeholder="Your Address"  name="address" ngModel required></textarea>
                </mat-form-field>
              
                <mat-form-field class="example-full-width">
                    <span matPrefix>+94 &nbsp;</span>
                    <input formControlName="myControl5" minlength="9" maxlength="9" type="tel" matInput placeholder="Telephone"  name="contactNumber" ngModel required>
                    <mat-icon matSuffix>call</mat-icon>
                </mat-form-field>
                  
                  <div>
                    <button mat-button matStepperPrevious>Back</button>
                    <button mat-button matStepperNext>Next</button>
                  </div>
                </form>
              </mat-step>
              <mat-step>
                <ng-template matStepLabel>Register</ng-template>
                You are now done.
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button (click)="stepper.reset()">Reset</button>
                  <button mat-button (click)="register()">Register</button>
                  
                </div>
              </mat-step>
            </mat-horizontal-stepper>
            
            
        </div>
        

        <ng-template #loginSuccess>
            <h3>Registarion Successful! </h3>
        </ng-template>



    </div>
</div>

