          <!-- <form class="example-form" [fromGroup]="updateNumber">
            <mat-form-field class="example-full-width">
                  <span matPrefix>+94 &nbsp;</span>
                    <input 
                        type="tel"
                        formControlName="contactNumber"
                        matInput 
                        placeholder="Mobile Number">

                <mat-icon matSuffix>mode_edit</mat-icon>

                <mat-error *ngIf="!registerForm.get('contactNumber').valid && registerForm.get('contactNumber').touched">
                            Please enter a valid contact number here!
                </mat-error>
              </mat-form-field>  
              
              <p style="text-align: center; color: red;"> {{message}}</p><br>
              
              <button mat-raised-button color="primary" type="submit" [disabled]="!validtp">Save</button>
            </form> -->