
.image{
    height:40em;
    background-size:cover;
    width:auto;
    background-image:url('../../../assets/images/a.jpg');
    background-position:50% 50%;
    text-align: center;
    color: deepskyblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }