<!-- <div class="image">
   <div class = "section1" >
   </div>
</div> -->
<div class="main">
<div id = "home">
    <div class = "landing-text">
        <h1> Vinora Applications</h1>
        <h3>The Next Level Of Ordering</h3>
        
    </div>
</div>

<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <img src="../../../assets/images/COMMENT-How-to-manage-delivery-expectations-over-Christmas.jpeg">
            </div>
            <div class="col-sm-6 text-center">
                <h2>All About Vinora</h2>
                <p class="lead">
                    <span> Welcome to   Vinora official web site. Vinora is a platform that provide services for retailers 
                            and delivery companies which provide fast consuming food products. Delivery companies that follow 
                            a itinerary management system can partner Up with us and experience the next level of ordering.
                    </span> 
                </p>
                <p class="lead">
                
                    </p>

            </div>
        </div>
    </div>

</div>

<div class="padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h3>Vinora Mob</h3>
                <p>This is vinora mobile application for retailers. All the retailers are welcomed to use this application. Facilities like ordering products from any registered delivery company will be supplied through this and also don't forget to experience the offeres. Get downloaded this applicatioin and experience the next level of ordering. </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="../../../assets/images/logo1.png" class = "img-responsive">
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <h3>Vinora Rep</h3>
                <p>
                    This is Vinora mobile application for sales representatives of registered delivery companies. Sales represenatives will get the facility of viewing retail shop locations , their daily deliveries and provided chat service will give a chance to chat with retailers.
                </p>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <img src="../../../assets/images/vinora.png" class="img-responsive">
            </div>
        </div>
    </div>
</div>
<div id="fixed">
</div>


<div class="padding">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                   <h4>Our service</h4>
                   <pre>ywdccywdcbdycbbcdybcy
                       svkjnvke
                       bdb
                       db
                       bfb
                       dfb
                       dfb
                       dfb
                       dfb
                       dfbfb
                       ddbcd cd dc dc d c dc dc d cd  d d c c  c dc dc d c dc d d cd c dc dc d cd c dc d cdc</pre>





                   <p>venive fvnfuf domr thsiv ebvu finfvn funne nfuveuvn uvu uevu uvun nufu unu u uvkjefbvipebvpeivbvbfvbhvbeibviebifhvbeivbeifhbviebvifhvbfivbifhvffn uf un</p>
                </div>
                <div class="col-sm-6">
                    <img src="../../../assets/images/Crowd-ca600r.jpg">
                </div>
            </div>
        </div>
 </div>

 div.
 <footer class="container-fluid-text-center">
     <div class="row">
         <div class="col-sm-4">
             <h3>Contact Us</h3>
             <br>
             <h4>vinora vinora</h4>

         </div>
         <div class="col-sm-4">
                <h3>Connect</h3>
                    <!-- <button type="button" mdbBtn color="fb" class="waves-light" mdbWavesEffect><mdb-icon fab icon="facebook-f"></mdb-icon></button>
                    <button type="button" mdbBtn color="tw" class=" waves-light" mdbWavesEffect><mdb-icon fab icon="twitter"></mdb-icon></button>
                    <button type="button" mdbBtn color="gplus" class=" waves-light" mdbWavesEffect><mdb-icon fab icon="google-plus"></mdb-icon></button>
                    <button type="button" mdbBtn color="li" class=" waves-light" mdbWavesEffect><mdb-icon fab icon="linkedin-in"></mdb-icon></button>
                    <button type="button" mdbBtn color="ins" class=" waves-light" mdbWavesEffect><mdb-icon fab icon="instagram"></mdb-icon></button>
                    <button type="button" mdbBtn color="email" class=" waves-light" mdbWavesEffect><mdb-icon fas icon="envelope"></mdb-icon></button>
                     -->
            </div>
            <div class="col-sm-4">
                    <h3>Nothing to say Us</h3>
                    <br>
                    <h4>vinora vinora</h4>
       
                </div>

     </div>
 </footer>
</div>  