<div class="row">
    <div class="col" *ngIf="currentOrders | async; let currentOrders; else ">
        <div class="row" *ngFor="let currentOrder of currentOrders" > 
          <div class="col col-3"> 
              <br>
          </div>
          <div class="col col-3">    
              <p (focus)="myfunction()">
                sdjsjdbcjsdbcjkbsdcj
                <!-- <b>Purches Date: </b> {{currentOrder.createDate}}<br> -->
                <!-- <b>Total Amount: </b> {{currentOrder.total}} .00 Rs/-<br> -->
               
              </p>
              <button mat-button (focus)="myfunction()">
                <i class="material-icons">perm_phone_msg</i>   Inform
              </button>
          </div> 
          <div class="col col-3">
          </div>
        </div>
    </div>
</div>

<div class="row"  *ngIf="items | async; let items ; else">
    <app-current-item-elemet class="col col-2" *ngFor="let item of items" [item]="item"></app-current-item-elemet>
</div>

<br>
<br>
<br>
