<div>
    <mat-form-field>
        <mat-select>
            <!-- <mat-option *ngFor="let option of options" [value]="option.id">{{option.text}}</mat-option> -->
             <!-- <mat-option  *ngFor="let companyEmail of companyEmails | async" [companyEmail]="companyEmail"  >{{companyEmail.}}</mat-option> -->
            <!-- <app-ret-reg-company-element *ngFor="let companyEmail of companyEmails | async" [companyEmail]="companyEmail" ></app-ret-reg-company-element> -->
        </mat-select>
    </mat-form-field>
</div>






<h2>This month product orders</h2>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Pie_chart_EP_election_2004.svg/1280px-Pie_chart_EP_election_2004.svg.png" width="25%" height="25%" >

<h2>This month delivery company accesses</h2>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2e/Pie_chart_EP_election_2004.svg/1280px-Pie_chart_EP_election_2004.svg.png" width="25%" height="25%" >


<h3>Table for each product</h3>

