<app-manager-nav ></app-manager-nav>
<mat-sidenav-container>
  <mat-sidenav #sidenav (opend)="log('opened')" (closed)="log('Closed')" mode="side" [(opened)]="opened">
   <div class="container">
     <div class="row">
       <div class="col">
             <div class="btn-group-vertical example-button-row " >     
                   
                 <div class="list-group" id="list-tab" role="tablist">
                     <a class="list-group-item list-group-item-action transparent" id="list-home-list" routerLink="" >Main Stock</a>
                     <a class="list-group-item list-group-item-action transparent" id="list-home-list" routerLink="registerNewItem" >Register New Item</a>
                     <a class="list-group-item list-group-item-action transparent" id="list-messages-list"  routerLink="registeredItems" >Registered Items</a>
                     <a class="list-group-item list-group-item-action transparent" id="list-profile-list"  routerLink="" >New Retailers</a> 
                     <a class="list-group-item list-group-item-action transparent" id="list-profile-list"  routerLink="" >Registered Retailers</a> 
                    
                          
                     <button class="transparent" mat-button [matMenuTriggerFor]="staff">Staff <span class="sr-only">Toggle Dropright</span></button>
                     
                     <mat-menu  class="transparent" #staff="matMenu">
                       <button mat-menu-item [matMenuTriggerFor]="stokManager">Stock Managers</button>
                       <button mat-menu-item [matMenuTriggerFor]="salesRef">Sales Representatives</button>
                     </mat-menu>

                       <mat-menu class="transparent" #stokManager="matMenu">
                         <button mat-menu-item>New Registration</button>
                         <button mat-menu-item>Registered</button>
                         <button mat-menu-item>Fired</button>
                       </mat-menu>
                       
                       <mat-menu #salesRef="matMenu">
                         <button mat-menu-item>New Registration</button>
                         <button mat-menu-item>Registered</button>
                         <button mat-menu-item>Fired</button>
                       </mat-menu>




                       
                     <button class="transparent" mat-button [matMenuTriggerFor]="orders">Orders <span class="sr-only">Toggle Dropright</span></button>
                       
                     <mat-menu  class="transparent" #orders="matMenu">
                       <button mat-menu-item >Requested Orders</button>
                       <button mat-menu-item >Delivered Orders</button>
                     </mat-menu>


                     <a class="list-group-item list-group-item-action transparent" id="list-profile-list"  routerLink="vehicle" >Vehicles</a> 



                     <button  class="transparent" mat-button [matMenuTriggerFor]="reports">Reports</button>

                        <mat-menu #reports="matMenu">
                          <button mat-menu-item [matMenuTriggerFor]="stock">Stock</button>
                          <button mat-menu-item [matMenuTriggerFor]="staff">Staff</button>
                          <button mat-menu-item [matMenuTriggerFor]="orders">Orders</button>
                          <button mat-menu-item [matMenuTriggerFor]="items">Items</button>
                        </mat-menu>

                        <mat-menu #stock="matMenu">
                            <button mat-menu-item >Full Stock</button>
                            <button mat-menu-item >Re Orderings</button>
                        </mat-menu>

                        <mat-menu #items="matMenu">
                            <button mat-menu-item >Registered</button>
                            <button mat-menu-item >Removed</button>
                        </mat-menu>

                        <mat-menu #orders="matMenu">
                            <button mat-menu-item >Requested </button>
                            <button mat-menu-item >Delivered</button>
                        </mat-menu>
                          

                        <mat-menu #staff="matMenu">
                          <button mat-menu-item [matMenuTriggerFor]="stockManager">Stock Managers</button>
                          <button mat-menu-item [matMenuTriggerFor]="salesRef">Sales Representatives</button>
                        </mat-menu>
                        
                        <mat-menu #stockManager="matMenu">
                          <button routerLink="registerStockManager" mat-menu-item>Registered</button>
                          <button mat-menu-item>Logged now</button>
                          <button mat-menu-item>Fired</button>
                        </mat-menu>

                        <mat-menu #salesRef="matMenu">
                            <button routerLink="SalesRepresentative" mat-menu-item>Registered</button>
                            <button mat-menu-item>Logged now</button>
                            <button mat-menu-item>Fired</button>
                        </mat-menu>
                        


                    
                        
                       


                                 

                       
                   </div>
                     
                     
                    
                     <!-- <div class="btn-group  dropright transparent" role="group">
                       <button id="btnGroupDrop2" type="button" class="btn list-group-item list-group-item-action transparent  btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                         Staff
                        </button>
                        <div class="dropdown-menu " aria-labelledby="btnGroupDrop2">
                          <a class="dropdown-item transparent" href="#">Stock Managers</a>
                          <a class="dropdown-item transparent" href="#">Seals Representatives</a>
                        </div>
                      </div> -->
                      
                      <!-- <div class="btn-group dropright transparent" role="group">
                         <button id="btnGroupDrop1" type="button" class="btn list-group-item list-group-item-action transparent  btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           Orders
                         </button>
                         <div class="dropdown-menu transparent" aria-labelledby="btnGroupDrop1">
                           <a class="dropdown-item transparent" href="#">Requested Orders</a>
                           <a class="dropdown-item transparent" href="#">Previous Orders</a>
                         </div>
                       </div> -->
                     
             </div>  
        </div>
     </div>
   </div>
  </mat-sidenav>

  <mat-sidenav-content>
    <button class="btn btn-light" (click)="sidenav.toggle()"><i class="material-icons">
       list
       </i></button>
     <div class="row">
       <div class="col">
         <router-outlet></router-outlet> 
       </div>
    </div>
    

     
  </mat-sidenav-content>


</mat-sidenav-container>

<app-fotter></app-fotter>
