<div class="container">
    <div class="row ">
        <div class="col-md-9">
            <app-items-to-select (itemWasSelected)="selectedItem = $event">
            </app-items-to-select>
        </div>
        <div class="col-md-3">
            <app-items-selected 
                *ngIf="selectedItem ; else infoText"
                [item]="selectedItem">
            </app-items-selected>
            <ng-template #infoText>
                <h3>Your new Items here</h3>
            </ng-template>
        </div>
    </div>
</div>