<div class="row">
        <div class="col" *ngIf="retailers | async; let retailers; else ">
            <div class="row" *ngFor="let retailer of retailers" > 
              <div class="col col-3"> 
                  <br>
              </div>
              <div class="col col-3">    
                  <p>
                    {{retailer.email}}
                    <br>
                    <b>Purches Date: </b> {{order.createDate}}<br>
                    <b>Total Amount: </b> {{order.total}} .00 Rs/-<br>
                  </p>
                  <button mat-button (focus)="myfunction()">
                    <i class="material-icons">perm_phone_msg</i>   Inform
                  </button>
    
                  <button mat-button (click)="confirmOrder()">
                      Confirm Order
                      <i class="material-icons"></i>   Inform
                    </button>
              </div> 
              <div class="col col-3">
              </div>
            </div>
        </div>
    </div>
    
    <div class="row"  *ngIf="items | async; let items">
        <app-stm-con-order-element class="col col-2" *ngFor="let item of items" [item]="item" [orderId]="orderId" [orderTotal]="orderTotal"></app-stm-con-order-element>
    </div>

    <div class="row" *ngIf="setItems|  async; let items" style="background-color: darkgrey;">
      <app-stm-con-order-element class="col col-2" *ngFor="let item of items" [item]="item" [orderId]="orderId" [buttonFalse]="true" [orderTotal]="orderTotal"></app-stm-con-order-element>
    </div>
    
    <div *ngIf="allowRefAssign">

      <form  *ngIf="salesRepresentatives | async; let salesRepresentatives">
        <h4>Assigning Rep</h4>
        <mat-form-field>
          <mat-label>Sales Representatives</mat-label>
          <mat-select [(ngModel)]="selectedRep">
            <mat-option *ngFor="let salesRepresentative of salesRepresentatives" [value]="salesRepresentative.fullName">
              {{salesRepresentative.fullName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <p> Selected Rep: {{selectedRep}} </p>
      </form>

    </div>
    
    <br>
    <br>
    <br>

  
    