<div class="row" *ngIf="retailers | async; let retailers;">

            <div class="col" *ngFor="let retailer of retailers"> 
              <div class="row">
                <div class="col col-3">    
                    <p>
                      <b>Retailer Email: </b> {{retailer.email}}<br>
                      <b>Purches Date: </b> {{order.createDate}}<br>
                      <b>Total Amount: </b> {{order.total}} .00 Rs/-<br>
                      <mat-progress-bar mode="determinate" value="{{precentage}}"></mat-progress-bar>
                    </p>
                   
                      <h5 *ngIf="nowAssign" style="color: darkred;">Assign Now <i  class="material-icons">fast_forward</i> </h5>
                  
                  </div> 

                <div class="col col-3"> 
                <br>
                </div>
              
                <div class="col col-3" *ngIf="salesRepresentatives | async; let salesRepresentatives">
                  <form [formGroup]="selectRep" [ngClass]="{assign: !allowRefAssign}">
                    <h4>Assign To</h4>
                    <mat-form-field>
                      <mat-label>Sales Representatives</mat-label>
                      <mat-select  [(ngModel)]="selectedRepId" formControlName="saleRep">
                        <mat-option *ngFor="let salesRepresentative of salesRepresentatives" [value]="salesRepresentative.saleRepId">
                          {{salesRepresentative.fullName}}
                        </mat-option>
                      </mat-select>
                    </mat-form-field>
                    <button mat-button (click)="assign()"  [disabled]="!allowRefAssign" >
                      Assign now
                    </button>
                  </form>
                </div>
                <ng-template #elseBlock style="color: darkred;">
                  No salesrepresentatives registered yet!
                </ng-template>
        </div>
        <div class="row"  *ngIf="items | async; let items">
          <app-stm-con-order-element class="col col-2" *ngFor="let item of items" [item]="item" [orderId]="orderId" [orderTotal]="orderTotal"></app-stm-con-order-element>
        </div>
   
      </div>
    </div>
    
    <br>
    <br>
    <br>

  
    