
   <div class="row">

       <div class="col-7" >
            <h2>Available Vehicles</h2>
            <app-vehicle-display *ngFor="let vehicle of vehicles | async" [vehicle]="vehicle" ></app-vehicle-display>
           
        </div>
        
        <div class="col-5" >
            <button (click)="onRegister()" mat-flat-button color="primary">+ Register Vehicle</button>
            <router-outlet></router-outlet>
          
            
        </div>
        
        
        
    </div>
    
