

<mat-card class="example-card" >
    <mat-card-header>
        <mat-card-title>{{stockManager.fullName}}</mat-card-title>
        <mat-card-subtitle>{{stockManager.address}}</mat-card-subtitle>
    </mat-card-header>
    <!-- <img mat-card-image src="{{stockManager.itemImagePath}}" alt="Photo of the Vehicle"> -->
    <!-- <mat-card-content>
            
        <p>
            {{item.description}}<br>
            Unit Price: <b>{{item.unitPrice}} : Rs</b><br>
            Available:  <b></b>{{item.quantity}}<br>                
        </p>

    </mat-card-content> -->

    <mat-card-actions>   
                <button mat-raised-button color="warn" (click)="onRemove()" >Remove</button>
    </mat-card-actions>
</mat-card>


