<!-- <div class="container offset-2">
    <div *ngFor="let abc of registeredRetailersKey | async">
    <ul>
        <li>{{abc.retailerUid}}</li>
        <li> {{abc.retailerEmail}}</li>
        
    </ul>
    </div>
  
</div> -->


<!-- 
<div class="container offset -2">
    <div *ngFor = "let notReg of notRegisteredRetailersKey | async">
        <ul>
            <li>{{notReg.retailerUid}}</li>
            <li>{{notReg.retailerEmail}}</li>
        </ul>
    
    </div>

</div> -->

<div class="row" *ngIf = "notRegisteredRetailer | async; let notRegisteredRetailer else loading">
    <li *ngFor= "let retailer of notRegisteredRetailer" (click)=onSelect(retailer)>
        {{retailer.email}}
    </li>
</div>
<ng-template #loading> No Retailers available!! &hellip;</ng-template>