
    <mat-card class="example-card itemcard">
            <mat-card-header>
                <mat-card-title>{{item.itemName}}</mat-card-title>
                <mat-card-subtitle>{{item.brand}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image class="forimage" src="{{item.itemImagePath}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>{{item.description}}<br>
                    Unit Price: <b>{{item.unitPrice}}</b><br>
                    Quantity:  <b></b>{{item.quantity}}<br>                
                </p>
   
            </mat-card-content>
            <mat-card-actions>
                <form (ngSubmit)="toCart(f)" #f="ngForm" >            
                        <button mat-raised-button color="warn" type="submit" >Remove</button>
                </form>
            </mat-card-actions>
        </mat-card>