
    <mat-card class="example-card">
            <mat-card-header>
                <mat-card-title>{{item.itemName}}</mat-card-title>
                <mat-card-subtitle>{{item.brand}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{item.itemImagePath}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
                <p>
                        <!-- {{item.description}}<br> -->
                    Unit Price: <b>{{item.unitPrice}} .00 Rs/-</b><br>
                    Quantity:  <b></b>{{item.quantity}}<br>  
                    Item total: <b>{{item.total}} .00 Rs/-</b><br>
                    Available Stock: <b>{{availableQuantity}} : {{item.type}}</b>              
                </p>
   
            </mat-card-content>
            <mat-card-actions>
                    <form >
                            <table class="" style="width: 159px" cellspacing="0">
                                    <tr>
                                    <td>
                                        <mat-form-field class="" style="width: 70%">
                                                <input matInput #quantity type="number" min="0" placeholder="Quantity">

                                        </mat-form-field>
                                        :{{item.type}}

                                                
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                            <i class="material-icons" click="refresh()">
                                                    cached
                                            </i>

                                            <i class="material-icons" (click)="addQuantity(item,quantity.value)">
                                                    add
                                            </i>
    
                                            <i class="material-icons" (click)="reduceQuantity(item,quantity.value)">
                                                    remove
                                            </i>   
                                            
                                            <mat-icon id="close-icon" style="margin-right: 50px;" color="warn" (click)="onRemove(item)">close</mat-icon>
                                            
                                    </td>
                                       
                                </tr>
        
                                <!-- <tr>
                                        <td><mat-form-field class="" style="width: 70%">
                                                <input matInput type="number" placeholder="Unit Price" name="unitPrice" ngModel  >
                                        </mat-form-field></td>
                                </tr> -->
                               
        
                            </table>
                            
                            
                            <!-- <mat-icon id="close-icon" style="margin-right: 50px;" color="warn" (click)="onRemove(item)">cached</mat-icon>     -->
                           
                            
                            
                    </form>
                </mat-card-actions>
        </mat-card>