<!-- <a href="#" class="list-group-item list-group-item-action" >
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">{{stock.payload.val().stockName}}</h5>
        
          <code>{{ stock.payload.key }}</code>
          <code>{{ stock.key }}</code>
        </div>
        <p class="mb-1">
        
        </p>
        <small></small>
        <button class="btn btn-success" (click)="onConfirm($event)">Confirm</button>
</a> -->


  <div class="card">
      <a type="button" (click)="onSelected()" class="list-group-item list-group-item-action" >
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{stock.stockName}}</h5>
          
            <!-- <code>{{ stock.payload.key }}</code> -->
            <code>{{ stock.key }}</code>
          </div>
          <p class="mb-1">
          
          </p>
          <small></small>
          <button class="btn btn-success" (click)="onConfirm()">Confirm</button>
    </a>
  </div>
