<div class="row">
    <a  *ngFor="let stock of stocks; let i = index">
        <mat-card class="example-card">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title>{{stock.name}}</mat-card-title>
              <mat-card-subtitle>{{stock.email}}</mat-card-subtitle>
              <mat-card-subtitle>{{stock.address}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="{{stock.imagePath}}" alt="Photo of a Shiba Inu">
            <mat-card-content>
              <p>
                  {{stock.manager.name}}
                  {{stock.contactNumber}}
              </p>
            </mat-card-content>
            <mat-card-actions>
              <button mat-button>LIKE</button>
              <button mat-button>SHARE</button>
            </mat-card-actions>
          </mat-card>          
    </a>
</div>
