<div class="row">
    <div class="col">
            
            <div *ngIf="comapany$ | async; let companise; else loading">
            <ul>
                <li *ngFor="let company of companise">
                <b> {{ company.companyName }} </b> <br>
                <b> {{ company.managerName }} </b> <br>
                <b> {{ company.email }} </b> <br>
                <b> {{ company.address }} </b> <br>
                <b> {{ company.contactNumber }} </b> <br>
        
                <code>{{ company.key }}</code>
            </li>
            </ul>

            <div class="row">
                
                <app-new-order-item-elemet *ngFor="let item of items | async"  [item]="item"></app-new-order-item-elemet>
            </div>
            
            <div *ngIf="!companise">No results, try clearing filters</div>
        </div>
        <ng-template #loading>Loading&hellip;</ng-template>

        <div>
    </div>
</div>