
<div class="col col-lg-12" >  
  <a type="button"  class="row"  *ngFor="let company of company | async" (click)="onClick(company)">
    <div class="col-3">
        <img src="{{company.imagePath}}" alt="" width="150px" height="150px"> <br>                  
        <b>email: </b>{{company.email}}<br>
        <b>Contact: </b>{{company.address}}<br>
    </div>

    <div class="col-9">
        <app-new-order-item-elemet [companyUid]="company.id" ></app-new-order-item-elemet>
    </div>
  </a> 
</div>
