    <div class="col" style="background-color: red;">
            <ul>
            <li>
                <b> {{ company.companyName }} </b> <br>
                <b> {{ company.managerName }} </b> <br>
                <b> {{ company.email }} </b> <br>
                <b> {{ company.address }} </b> <br>
                <b> {{ company.contactNumber }} </b> <br>
                <code>{{ company.key }}</code>
            </li>

            <div class="row">
                    <app-new-order-item-elemet *ngFor="let item of items$ | async" [item]="item" ></app-new-order-item-elemet>
            </div>

            </ul>

        <div>
