<!-- <p>retailer-registered-companies works!</p>
<div *ngIf="company$ | async; let company; else loading">
    <ul>
      <li *ngFor="let company of company$ | async">
        <code>{{company.state }}</code>
      </li>
    </ul> -->
    <!-- <div *ngIf="items.length === 0">No results, try clearing filters</div> -->
  <!-- </div>
  <ng-template #loading>Loading&hellip;</ng-template> -->


    <app-ret-reg-company-element *ngFor="let company of companies | async" [company]="company" ></app-ret-reg-company-element>

