<!-- <p>retailer-registered-companies works!</p>
<div *ngIf="company$ | async; let company; else loading">
    <ul>
      <li *ngFor="let company of company$ | async">
        <code>{{company.state }}</code>
      </li>
    </ul> -->
    <!-- <div *ngIf="items.length === 0">No results, try clearing filters</div> -->
  <!-- </div>
  <ng-template #loading>Loading&hellip;</ng-template> -->
<div class="row">
  <div class="col col-lg-4">
    <app-ret-reg-com-element *ngFor="let companyId of companyIds | async" [companyId]="companyId" ></app-ret-reg-com-element>
  </div>
</div>
 
  <p>sjdncjsdncljsdncjnsdlcnjsdlkcj</p>