 <app-retailer-nav></app-retailer-nav>
 <mat-sidenav-container>
   <mat-sidenav #sidenav (opend)="log('opened')" (closed)="log('Closed')" mode="side" [(opened)]="opened">
    <div class="container">
      <div class="row">
        <div class="col">
              <div class="btn-group-vertical example-button-row " > 
          
                      
                    
                  <div class="list-group " id="list-tab" role="tablist">
                      <a class="list-group-item list-group-item-action transparent" id="list-home-list" routerLink="currentOrders" >Current Orders</a>
                      <a class="list-group-item list-group-item-action transparent" id="list-profile-list"  routerLink="newOrder" >New Order</a>
                      <a class="list-group-item list-group-item-action transparent" id="list-messages-list"  routerLink="registeredItems" >Registered Items</a>
                      <a class="list-group-item list-group-item-action transparent" id="list-messages-list"  routerLink="newItems" >New Items</a>
                      <a class="list-group-item list-group-item-action transparent" id="list-messages-list"  routerLink="" >Registered Stocks</a>
                      <a class="list-group-item list-group-item-action transparent" id="list-settings-list"  routerLink="newStock" >New Stock</a>
                      <a class="list-group-item list-group-item-action transparent" id="list-settings-list"  routerLink="previousOrder" >Previous Orders</a>

                      <button  class="transparent" mat-button   [matMenuTriggerFor]="reports">Reports</button>

                        <mat-menu #reports="matMenu">
                          <button mat-menu-item >Current Orders</button>
                          <button mat-menu-item >Previous Deliveries</button>
                          <button mat-menu-item >Registered Delivery Companies</button>
                        </mat-menu>

                    </div>
              </div>  
         </div>
      </div>
    </div>
   </mat-sidenav>

   <mat-sidenav-content class="bc">
     <button class="btn btn-light" (click)="sidenav.toggle()"><i class="material-icons">
        list
        </i></button>
    <div class="container">
      <div class="row">
          <router-outlet>
          </router-outlet>
      </div>
    </div>
     

      
   </mat-sidenav-content>


 </mat-sidenav-container>

 <app-fotter></app-fotter>
