<form   (ngSubmit)="onAddVehicle(f)" #f="ngForm">
        <input type="hidden" formControlName="$id">

        <div class="form-group">
                <label>Vehicle number</label>
                <input name="number_plate" class="form-control" ngModel>
        </div>

        <div class="form-group">
                <label>Vehicle model</label>

                <input name="vehicle_model" class="form-control" ngModel>
        </div>

        <div class="form-group">
                <label>Owner name</label>
                <input name="owner_name" class="form-control" ngModel>
        </div>

        <div class="form-group">
                <label>Owner address</label>
                <input name="owner_address" class="form-control"ngModel>
        </div>

        <div class="form-group">
                <label>Owner mobile</label>
                <input name="owner_mobile" class="form-control"ngModel>
        </div>

        <div clas="form-group">
                        <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                                <span class="input-group-text" id="inputGroupFileAddon01" >Upload</span>
                                        </div>
                            
                                        <div class="custom-file">
                                                <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="onFileSelected($event)" aria-describedby="inputGroupFileAddon01">
                                                <label class="custom-file-label" for="inputGroupFile01">Vehicle image</label>
                                        </div>
                                </div>

        </div>

        <div *ngIf="currentUpload">
                <div class="progress">
                  <div class="progress-bar progress-bar-animated" [ngStyle]="{ 'width': currentUpload?.progress + '%' }"></div>
                </div>
                Progress: {{currentUpload?.name}} | {{currentUpload?.progress}}% Complete
              </div>
              
                  <label>
                     <input type="file" (change)="detectFiles($event)">
                  </label>
              
                  <button
                          [disabled]="!selectedFiles"
                          (click)="uploadSingle()">
              
                    Upload Single
                  </button>
              

        <div class="form-group">
                <input type="submit" class="btn btn-secondary" value="Register">
        </div>
</form>


       
      
         






























<!-- <form class="example-form" (ngSubmit)="onAddItem(f)" #f="ngForm">

    <mat-form-field class="example-full-width">
            Vehicle number<br>
            <input matInput placeholder="Vehicle number " name="plateNumber" ngModel >
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width">
            Vehicle model<br>
            <input matInput placeholder="Vehicle model " name="vehicleModel" ngModel >
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
            Owner name<br>
            <input matInput placeholder="Owner name" name="ownerName" ngModel >
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
            Owner mobile number<br>
            <input matInput placeholder="Owner mobile number" name="ownerMobile" ngModel >
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
            Owner address<br>
            <input matInput placeholder="Owner address" name="ownerAddress" ngModel >
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
            Driver name<br>
            <input matInput placeholder="Driver name" name="driverName" ngModel >
    </mat-form-field>
    <br>
    <mat-form-field class="example-full-width">
            Driver mobile number<br>
            <input matInput placeholder="Driver mobile" name="driverMobile" ngModel >
    </mat-form-field>
    <br>
    <div class="input-group mb-3">
            <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroupFileAddon01" >Upload</span>
            </div>

            <div class="custom-file">
                    <input type="file" class="custom-file-input" id="inputGroupFile01" (change)="onFileSelected($event)" aria-describedby="inputGroupFileAddon01">
                    <label class="custom-file-label" for="inputGroupFile01">Vehicle image</label>
            </div>
    </div>

   

 

    <input  placeholder="Description"  type="hidden"  name="state" ngModel  value="new">

    <button class="btn btn-secondary">Register</button>
    
</form>  -->